.user-table-container {
    width: 100%;
    overflow-x: auto;
    border-radius: 1rem;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: #000000;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .user-table th,
  .user-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .user-table th {
    background: rgba(255, 255, 255, 0.1);
    color: #816666;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.95rem;
  }
  
  .user-table tbody tr:hover {
    background: rgba(119, 119, 119, 0.651);
    transition: background 0.2s ease;
  }
   
  .user-table tbody tr:nth-child(odd) td {
    background-color: #c2c2c273;
    color: #000000;
  }
  
  .user-table tbody tr:nth-child(even) td {
    background-color: #ffffff73;
    color: #363636;
  }

  .action-btn {
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    border: none;
    background: #a82323;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .action-btn:hover {
    background:#5f1d1d;
  }

  .create-btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .create-btn {
    justify-content: center;
    display: flex;
    background-color: #3b8b3b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .create-btn:hover {
    background-color: #327432;
  }

  .action-btn.delete {
    background-color: #a82323;
  }
  
  .action-btn.delete:hover {
    background-color: #5f1d1d;
  }

  .sub-tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .sub-tabs button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background: rgba(146, 146, 146, 0.733);
    backdrop-filter: blur(10px);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sub-tabs button.active-subtab {
    background-color: #8d0f0f;
    color: #fff;
  }
  
  .sub-tabs button:hover {
    background-color: #3f1818b7;
  } 

  .sub-tabs button.active-subtab:hover {
    background-color: #8d0f0f; /* stesso colore dell'attivo */
    cursor: default; /* opzionale: rende chiaro che non è cliccabile */
  }
  
  @media (max-width: 768px) {
    .user-table th,
    .user-table td {
      padding: 0.8rem 0.5rem;
      font-size: 0.9rem;
    }
  
    .action-btn {
      padding: 0.3rem 0.6rem;
      font-size: 0.85rem;
    }
  }